@font-face{
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot");
  src: url("./fonts/icomoon.eot") format("embedded-opentype"),
       url("./fonts/icomoon.ttf") format("truetype"),
       url("./fonts/icomoon.woff") format("woff"),
       url("./fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}



[class^="lineicon-"], [class*=" lineicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lineicon-thin-flug:before {
  content: "\e921";
}
.lineicon-thin_edit:before {
  content: "\e920";
  color: #022662;
}
.lineicon-thin-1093_growth_business_success_startup:before {
  content: "\e91b";
}
.lineicon-thin-1368_love_comment_tag:before {
  content: "\e91c";
}
.lineicon-thin-1411_fireworks_rocket:before {
  content: "\e91d";
}
.lineicon-thin-1439_avocado_healthy:before {
  content: "\e91e";
}
.lineicon-thin-0653_like_heart_favorite_rating_love:before {
  content: "\e91a";
}
.lineicon-Klimaschutz:before {
  content: "\e913";
}
.lineicon-Hungerhilfe:before {
  content: "\e915";
}
.lineicon-Frauenfoerderung:before {
  content: "\e917";
}
.lineicon-Bildung:before {
  content: "\e919";
}
.lineicon-thin-0315_email_mail_post_send:before {
  content: "\e912";
}
.lineicon-shopping-cart:before {
  content: "\47";
}
.lineicon-file-word:before {
  content: "\49";
}
.lineicon-file-excel:before {
  content: "\4a";
}
.lineicon-file-archive:before {
  content: "\4b";
}
.lineicon-link:before {
  content: "\4c";
}
.lineicon-arrow-down:before {
  content: "\75";
}
.lineicon-arrow-up:before {
  content: "\53";
}
.lineicon-Suche:before {
  content: "\e900";
}
.lineicon-dislike_thumb_down_vote:before {
  content: "\e901";
}
.lineicon-like_thumb_up_vote:before {
  content: "\e902";
}
.lineicon-catalogs:before {
  content: "\e903";
}
.lineicon-facebook:before {
  content: "\e904";
}
.lineicon-instagram:before {
  content: "\e905";
}
.lineicon-thin-0016_bookmarks_reading_book:before {
  content: "\e906";
}
.lineicon-thin-0321_email_mail_post_at:before {
  content: "\e907";
}
.lineicon-thin-0550_attention_error_alert_caution:before {
  content: "\e908";
}
.lineicon-wikommunity:before {
  content: "\e909";
}
.lineicon-youtube:before {
  content: "\e90a";
}
.lineicon-pinterest:before {
  content: "\e90b";
}
.lineicon-Info:before {
  content: "\e90c";
}
.lineicon-thin-0306_chat_message_discussion_bubble_conversation:before {
  content: "\e90d";
}
.lineicon-thin-0624_photo_camera:before {
  content: "\e90e";
}
.lineicon-thin-0769_weather_cloud_sun:before {
  content: "\e90f";
}
.lineicon-thin-0860_vine_glass_drink:before {
  content: "\e910";
}
.lineicon-thin-0949_plug_power_electricity:before {
  content: "\e911";
}
.lineicon-thin-0021_calendar_month_day_planner:before {
  content: "\e914";
}
.lineicon-thin-0023_calendar_month_day_planner_events:before {
  content: "\e916";
}
.lineicon-thin-0025_alarm_clock_ringer_time_morning:before {
  content: "\e918";
}
.lineicon-thin-0035_bookmark_tag:before {
  content: "\e922";
}
.lineicon-thin-0151_plus_add_new:before {
  content: "\e95a";
}
.lineicon-thin-0152_minus_delete_remove:before {
  content: "\e95b";
}
.lineicon-thin-0153_delete_exit_remove_close:before {
  content: "\e95c";
}
.lineicon-thin-0154_ok_successful_check:before {
  content: "\e95d";
}
.lineicon-thin-0159_arrow_back_left:before {
  content: "\e962";
}
.lineicon-thin-0160_arrow_next_right:before {
  content: "\e963";
}
.lineicon-thin-0281_chat_message_discussion_bubble_reply_conversation:before {
  content: "\e99d";
}
.lineicon-thin-0294_phone_call_ringing:before {
  content: "\e9aa";
}
.lineicon-thin-0420_money_cash_coins_payment_dollars:before {
  content: "\e9d8";
}
.lineicon-thin-0509_globus_world_travel_regional:before {
  content: "\ea15";
}
.lineicon-thin-0510_passport_travel:before {
  content: "\ea16";
}
.lineicon-thin-0523_berlin_brandenburger_tor_germany:before {
  content: "\ea23";
}
.lineicon-thin-0537_navigation_location_drop_pin_map:before {
  content: "\ea31";
}
.lineicon-thin-0538_navigation_compass_orientation:before {
  content: "\ea32";
}
.lineicon-thin-0539_map_path_navigation_location:before {
  content: "\ea33";
}
.lineicon-thin-0543_world_earth_worldwide_location_travel:before {
  content: "\ea37";
}
.lineicon-thin-0545_map_travel_distance_directions:before {
  content: "\ea39";
}
.lineicon-thin-0703_users_profile_group_two:before {
  content: "\ea40";
}
.lineicon-thin-0704_users_profile_group_couple_man_woman:before {
  content: "\ea41";
}
.lineicon-thin-0705_user_profile_security_password_permissions:before {
  content: "\ea42";
}
.lineicon-thin-0749_ecology_earth_polution_efficiency_green_energy:before {
  content: "\ea6e";
}
.lineicon-thin-0789_mountaineering:before {
  content: "\ea96";
}
.lineicon-thin-1000_boots_high_shoe:before {
  content: "\eb4f";
}
.lineicon-thin-1226_information_sign_info:before {
  content: "\eb67";
}
.lineicon-thin-1479_light_bulb_lighting:before {
  content: "\eba5";
}
.lineicon-thin-1495_spa_lotus_lily_wellness:before {
  content: "\ebb5";
}
.lineicon-thin-0077_document_file_pdf_adobe_acrobat:before {
  content: "\ebd8";
}
.lineicon-Aktiv_und_Entspannt:before {
  content: "\ec0e";
}
.lineicon-Alleinreisende:before {
  content: "\ec0f";
}
.lineicon-Allgemeingueltig:before {
  content: "\ec10";
}
.lineicon-Assistenzhotline:before {
  content: "\ec11";
}
.lineicon-Bahnanreise_moeglich:before {
  content: "\ec12";
}
.lineicon-Begleitfahrzeug:before {
  content: "\ec13";
}
.lineicon-Begleitung_lokaler_Guide:before {
  content: "\ec14";
}
.lineicon-Bootsfahrten:before {
  content: "\ec15";
}
.lineicon-E-Bike:before {
  content: "\ec17";
}
.lineicon-Eintritte:before {
  content: "\ec18";
}
.lineicon-Flug:before {
  content: "\ec19";
}
.lineicon-Flughafentransfers:before {
  content: "\ec1a";
}
.lineicon-Fuehrungen:before {
  content: "\ec1b";
}
.lineicon-Gepaecktransport:before {
  content: "\ec1c";
}
.lineicon-Gruppengroesse:before {
  content: "\ec1d";
}
.lineicon-Hund:before {
  content: "\ec1e";
}
.lineicon-Insider:before {
  content: "\ec1f";
}
.lineicon-Karten_mit_markierten_Routen:before {
  content: "\ec20";
}
.lineicon-Kultur:before {
  content: "\ec22";
}
.lineicon-Kurtaxe:before {
  content: "\ec23";
}
.lineicon-Liftfahrt:before {
  content: "\ec24";
}
.lineicon-Natur_und_Kultur:before {
  content: "\ec25";
}
.lineicon-Nutzung_Wellnessbereich:before {
  content: "\ec26";
}
.lineicon-Programm:before {
  content: "\ec27";
}
.lineicon-Rad:before {
  content: "\ec28";
}
.lineicon-Radmiete:before {
  content: "\ec29";
}
.lineicon-Reiseleitung:before {
  content: "\ec2a";
}
.lineicon-Schneeschuh:before {
  content: "\ec2c";
}
.lineicon-Stiefel:before {
  content: "\ec30";
}
.lineicon-Tage:before {
  content: "\ec31";
}
.lineicon-Transfers:before {
  content: "\ec32";
}
.lineicon-Uebernachtung:before {
  content: "\ec33";
}
.lineicon-Verpflegung:before {
  content: "\ec34";
}
.lineicon-Wandern_und_mehr:before {
  content: "\ec35";
}
.lineicon-Winter_Equipment:before {
  content: "\ec37";
}
.lineicon-Faehre:before {
  content: "\ec38";
}
.lineicon-Kanumiete:before {
  content: "\ec39";
}
.lineicon-Koch_Campingausruestung:before {
  content: "\ec3a";
}
.lineicon-Mietwagen:before {
  content: "\ec3b";
}
.lineicon-Zeltuebernachtung:before {
  content: "\ec3c";
}
.lineicon-Neu:before {
  content: "\ec3d";
}
.lineicon-GPS_App:before {
  content: "\ec3e";
}
.lineicon-thin-0811_medicine_health_injection_ill:before {
  content: "\e91f";
}
.lineicon-checkmark:before {
  content: "\ea10";
}
.lineicon-xing:before {
  content: "\ead3";
}
